{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
<div class="border-0 border-solid border-b-[1px] border-b-gray flex items-center py-2">
  <nav class="breadcrumb container" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol>
    {% for item in breadcrumb %}
      <li class="uppercase text-menu">
        {% if item.url %}
          <a href="{{ item.url }}" class="text-md-teal no-underline hover--underline">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
</div>
{% endif %}
