details>summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none
}
summary::after {
  content: url('/themes/contrib/asp-theme/images/icons/accordion-arrow.gif');
  position: absolute;
  right: 1rem;
  transition: 300ms;
}
details[open] summary:after {
   transform: rotate(-180deg);
}
