/**
 * @file
 * Collapsible details.
 *
 * @see collapse.js
 * @see http://nicolasgallagher.com/css-background-image-hacks/
 */

details {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}
details > .details-wrapper {
  padding: 0.5em 1.5em;
}
/* @todo Regression: The summary of uncollapsible details are no longer
     vertically aligned with the .details-wrapper in browsers without native
     details support. */
details summary {
  padding: 0.2em 0.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.copyclip:has(+ details.search-ci-links summary) {
  display:none;
}

button.copyclip:has(:hover, + details.search-ci-links summary:hover) {
  display:block;
}

details>summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none
}
summary::after {
  content: url('/themes/contrib/asp-theme/images/icons/accordion-arrow.gif');
  transition: 300ms;
}
details[open] > summary:after {
   transform: rotate(-180deg);
}
