/**
 * @file
 * Visual styles for menu.
 */

.block-superfish {
  height: 100%;
}
ul.sf-menu.menu, ul.sf-menu.menu ul, ul.sf-menu.menu li {
  height: 100%;
}
ul.sf-menu a, ul.sf-menu span.nolink {
  line-height: 28px;
  text-decoration: none;
}

ul.sf-menu span.nolink {
  padding: 10.5px 4.5px 9.5px 5px;
}

ul.sf-menu li:last-child span.nolink {
  padding: 10.5px 20px 9.5px 20px;
}

ul.sf-menu a {
  padding: 10.5px 10px 9.5px 10px;
}

.region-nav-main .sf-depth-1 a:hover,
.region-nav-main .sf-depth-1:nth-child(2) a,
.region-nav-additional .sf-depth-1 a:hover,
.region-nav-additional .sf-depth-1 span.nolink:hover {
  background-color: var(--md-teal);
}

#block-accesssecondarymenu ul.sf-menu span {
  padding: 10px 20px;
}

/* Secondary menu */
#block-accesssecondarymenu ul.menu li a,
#block-accesssecondarymenu ul.menu li span.nolink {
  color: var(--md-teal);
}
#block-accesssecondarymenu ul.menu li a,
#block-accesssecondarymenu ul.menu li span.nolink {
  color: var(--md-teal);
}
#block-accesssecondarymenu ul.menu li span.nolink:hover,
#block-accesssecondarymenu ul.menu li a:hover,
#block-accesssecondarymenu ul.sf-menu.menu li ul a,
#block-accesssecondarymenu a.is-active {
  background-color: var(--md-teal);
  color: #ffffff !important;
}
/* submenus */
ul.sf-menu.menu ul {
  height: auto;
  background-color: var(--md-teal);
  box-shadow: none;
}
@media only screen and (min-width: 769px) {

ul.sf-menu li:has(ul li a:hover) a,
ul.sf-menu li:has(ul li a:hover) span.nolink,
#block-accesssecondarymenu ul.sf-menu li:has(ul li a:hover) a,
#block-accesssecondarymenu ul.sf-menu li:has(ul li a:hover) span.nolink
{
  background-color: var(--md-teal);
  color: #ffffff;
}

ul.sf-menu li > ul {
    top: 48px !important;
  }
}
ul.sf-menu li > ul li a {
  background: var(--md-teal);
  color: white;
  text-transform: none;
  line-height: 20px;
  padding: 8px 20px;
}
ul.sf-menu li > ul li:first-of-type a {
  margin-top: 4px;
}
ul.sf-menu li > ul li:last-of-type a {
  margin-bottom: 4px;
}
ul.sf-menu li > ul li a:hover {
  text-decoration: underline;
}
/* icon menu items */
ul.sf-menu .search-menu-item::before, ul.sf-menu .access-home-menu-item::before, ul.sf-menu .access-menu-item::before {
  position: absolute;
  display: inline-block;
  height: 48px;
  width: 14px;
  overflow: visible;
  content: ' ';
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-left: 20px;
}

ul.sf-menu .search-menu-item::before {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' class='universal-navbar__search-icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='18' height='18' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100; fill: %23ffffff;' xml:space='preserve'%3E%3Cg%3E%3Cpath class='st0' d='M98.22,92.72l-5.48,5.47c-1.8,1.82-4.74,1.82-6.55,0L66.9,78.9c-0.87-0.87-1.35-2.05-1.35-3.29v-3.15 c-6.83,5.34-15.42,8.51-24.76,8.51c-22.23,0-40.24-18.01-40.24-40.24S18.55,0.49,40.78,0.49S81.02,18.5,81.02,40.73 c0,9.34-3.18,17.94-8.51,24.76h3.15c1.24,0,2.42,0.48,3.29,1.35l19.29,19.29C100.03,87.95,100.03,90.89,98.22,92.72z M65.54,40.73 c0-13.7-11.08-24.76-24.76-24.76c-13.7,0-24.76,11.08-24.76,24.76c0,13.7,11.08,24.76,24.76,24.76 C54.47,65.49,65.54,54.41,65.54,40.73z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

ul.sf-menu .access-home-menu-item::before {
  background-image: url("data: image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' fill='%23ffffff' viewBox='0 0 576 512' %3E%3Cpath d='M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z' /%3E%3C/svg%3E");
}

ul.sf-menu .access-menu-item::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' fill='%23ffffff' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z'/%3E%3C/svg%3E");
}

ul.sf-menu .search-menu-item,
ul.sf-menu .search-menu-item:hover,
ul.sf-menu .access-home-menu-item,
ul.sf-menu .access-home-menu-item:hover,
ul.sf-menu .access-menu-item.nolink,
ul.sf-menu .access-menu-item:hover {
  font-size: 1px !important;
  letter-spacing: -1px;
  color: transparent !important;
  width: 54px;
  height: 48px;
  overflow: hidden;
  padding: 0;
}

.navbar-brand {
  padding: 50px 0px;
}
.nsf-logo {
  width: 82px;
  height: 82px;
  margin-right: 20px;
}
.navbar-brand .divider {
  width: 2px;
  height: 70px;
  margin-top: 6px;
}
.site-logo {
  width: 253px;
  height: 75px;
  margin-left: 23px;
  margin-top: 22px;
}

/* mobile menus */
@media only screen and (max-width: 768px) {
  .navbar-brand {
    padding: 25px 0px 38px 0px;
  }
  .nsf-logo {
    width: 49px;
    height: 49px;
    margin-right: 13px;
  }
  .navbar-brand .divider {
    width: 1px;
    height: 41px;
    margin-top: 4px;
  }
  .site-logo {
    width: 152px;
    height: 45px;
    margin-left: 14px;
    margin-top: 13px;
  }
  .region-nav-main, .region-sub-nav {
    width: 100%;
  }

  #block-accessuniversalnavmenu {
    position: relative;
    z-index: 1000;
  }

  .block-superfishaccess-universal-nav-menu ul.sf-menu.menu ul {
    background-color: var(--dark-teal);
  }

  .block-superfishaccess-secondary-menu ul.sf-menu.menu ul {
    background-color: #ffffff;
  }

  #superfish-access-universal-nav-menu-toggle {
    margin-top: 10px;
  }

  #superfish-access-secondary-menu-toggle {
    margin: 6px 0;
  }

  .block-superfishaccess-universal-nav-menu .sf-accordion-toggle,
  .block-superfishaccess-secondary-menu .sf-accordion-toggle {
    width: 100%;
  }

  #superfish-access-universal-nav-menu-toggle,
  #superfish-access-secondary-menu-toggle,
  #block-accesssecondarymenu .menuparent span,
  #block-accesssecondarymenu .sf-depth-1.menuparent > a  {
    position: relative;
    display: block;
  }

  #superfish-access-universal-nav-menu-toggle::after,
  #superfish-access-secondary-menu-toggle::after,
  #block-accesssecondarymenu .menuparent span::after,
  #block-accesssecondarymenu .sf-depth-1.menuparent > a::after {
    display: inline-block;
    width: 12px;
    height: 12px;
    right: 26px;
    position: absolute;
    top: 0;
    transition: 300ms;
    transform-origin: center 10px;
  }

  #superfish-access-universal-nav-menu-toggle::after {
    content: url("data:image/svg+xml,%3Csvg class='svg-inline--fa fa-caret-down' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='caret-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' data-fa-i2svg=''%3E%3Cpath fill='%23ffffff' d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'%3E%3C/path%3E%3C/svg%3E");
  }

  #superfish-access-secondary-menu-toggle {
    color: var(--dark-teal);
  }

  #superfish-access-secondary-menu-toggle::after {
    content: url("data:image/svg+xml,%3Csvg class='svg-inline--fa fa-caret-down' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='caret-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' data-fa-i2svg=''%3E%3Cpath fill='%231A5B6E' d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'%3E%3C/path%3E%3C/svg%3E");
  }

  #block-accesssecondarymenu .menuparent span::after,
  #block-accesssecondarymenu .sf-depth-1.menuparent > a::after {
      content: url("data:image/svg+xml,%3Csvg class='svg-inline--fa fa-caret-down' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='caret-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' data-fa-i2svg=''%3E%3Cpath fill='%23ffffff' d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'%3E%3C/path%3E%3C/svg%3E");
  }

  #block-accesssecondarymenu .menuparent span::after,
  #block-accesssecondarymenu .sf-depth-1.menuparent > a::after {
    top: 12px;
    right: 26px;
  }
  #superfish-access-universal-nav-menu-toggle.sf-expanded::after,
  #superfish-access-secondary-menu-toggle.sf-expanded::after {
    transform: rotate(180deg);
  }
  li .menuparent .fa-caret-down {
    transition: 300ms;
    transform-origin: center 8px;
  }
  #block-accesssecondarymenu .menuparent span::after,
  #block-accesssecondarymenu .sf-depth-1.menuparent > a::after {
    transition: 300ms;
    transform-origin: center 10px;
  }

  li.sf-expanded .menuparent .fa-caret-down,
  #block-accesssecondarymenu .menuparent.sf-expanded span::after,
  #block-accesssecondarymenu .sf-depth-1.menuparent.sf-expanded > a::after {
    transform: rotate(180deg);
  }

  ul.sf-menu .sf-sub-indicator::after {
    display: block;
  }

  #block-accesssecondarymenu ul.menu li a,
  #block-accesssecondarymenu ul.menu li span.nolink,
  .sf-depth-1.menuparent.nolink:hover {
    background-color: var(--dark-teal);
    color: #ffffff;
    padding: 10px 28px;
  }

  ul.sf-menu .search-menu-item::before, ul.sf-menu .access-home-menu-item::before, ul.sf-menu .access-menu-item::before {
    height: 14px;
    margin-left: 0px;
    margin-top: 6px;
  }

  ul.sf-menu .access-home-menu-item,
  ul.sf-menu .access-home-menu-item:hover,
  ul.sf-menu .search-menu-item,
  ul.sf-menu .search-menu-item:hover {
    width: 100%;
  }

  ul.sf-menu li > ul li a {
    background-color: var(--dark-teal);
  }

  ul.sf-menu.sf-accordion li a {
    padding: 10px 28px;
    line-height: 20px;
  }

  #superfish-access-additional-universal-menu-accordion-clone li {
    border-bottom: 1px solid var(--md-teal);
  }

  #superfish-access-additional-universal-menu-accordion-clone >.menuparent span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #superfish-access-additional-universal-menu-accordion-clone li>a,
  #superfish-access-additional-universal-menu-accordion-clone li>.menuparent {
    padding: 11px 28px;
  }

  #superfish-access-additional-universal-menu-accordion-clone li.sf-depth-2 {
    margin-left: 0px;
    list-style: none;
    background-color: #fff;
  }

  #superfish-access-additional-universal-menu-accordion-clone li.sf-depth-2 a {
    color: var(--dark-teal);
    background-color: #ffffff;
    text-decoration: none;
  }

  #superfish-access-additional-universal-menu-accordion-clone li.sf-depth-2 a:hover {
    text-decoration: underline;
  }

  #superfish-access-additional-universal-menu-accordion-clone .access-menu-mobile {
    position: relative;
    top: 0;
  }

  #superfish-access-additional-universal-menu-accordion-clone .access-menu-mobile:hover {
    left: 0;
  }

  #block-accesssecondarymenu ul.menu li a:hover, #block-accesssecondarymenu ul.sf-menu.menu li ul a, #block-accesssecondarymenu a.is-active {
    background-color: #ffffff;
    color: var(--dark-teal) !important;
  }

  #superfish-access-secondary-menu-accordion .sf-expanded li {
    border-top: none;
  }
  #superfish-access-secondary-menu-accordion.sf-expanded li ~ li,
  #superfish-access-secondary-menu-accordion li.sf-depth-1 {
    border-top: 1px solid var(--md-teal);
  }
}

ul.sf-menu.menu {
  margin-left: -10px;
}

ul.sf-menu li:last-child {
  margin-right: -20px;
}
