/**
 * @file
 * Styles for system messages.
 */

.messages {
  padding: 15px 20px 15px 35px; /* LTR */
  word-wrap: break-word;
  background: no-repeat 10px 17px;  /* LTR */
  overflow-wrap: break-word;
  margin-bottom: 20px;
}
[dir="rtl"] .messages {
  padding-right: 35px;
  padding-left: 20px;
  text-align: right;
  background-position: right 10px top 17px;
}
.messages + .messages {
  margin-top: 1.538em;
}
.messages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.messages__item + .messages__item {
  margin-top: 0.769em;
}
.messages--status {
  color: #3E7540;
  background-color: #D4EDDA;
  box-shadow: -8px 0 0 #3E7540; /* LTR */
}
[dir="rtl"] .messages--status {
  margin-left: 0;
  box-shadow: 8px 0 0 #77b259;
}
.messages--warning {
  color: #004085;
  background-color: #CCE5FF;
  box-shadow: -8px 0 0 #004085; /* LTR */
}
[dir="rtl"] .messages--warning {
  box-shadow: 8px 0 0 #004085;
}
.messages--error {
  color: #900000;
  background-color: #F4E6E6;
  box-shadow: -8px 0 0 #900000; /* LTR */
}
[dir="rtl"] .messages--error {
  box-shadow: 8px 0 0 #900000;
}
.messages--error p.error {
  color: #900000;
}
