/**
 * @file
 * Visual styles for tabs.
 */

div.tabs {
  margin: 1em 0;
}
ul.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  margin: 0 0 0.5em;
  padding: 0;
  list-style: none;
}
.tabs > li {
  display: block;
}
/* RTL handled by flexbox gap */
.tabs a {
  display: block;
  padding: 0.2em 1em;
  text-decoration: none;
}
.tabs a.is-active {
  background-color: #eee;
}
.tabs a:focus,
.tabs a:hover {
  background-color: #f5f5f5;
}
