.page-node-6117 {
  .layout__region--first {
    form {
      .form--inline {
        width: fit-content;
        position: relative;

        .form-item {
          width: 100%;
          input {
            padding-right: 28px;
          }
        }
      }
    }

    input[type='submit'] {
      text-indent: -99999em;
      height: 15px;
      width: 15px;
      top: 28px;
      right: -45px;
      position: absolute;
      border-width: 0 !important;
      background: top left url("../../images/icons/search.svg") no-repeat;
    }
  }
}

#edit-event-registration-0 > legend .fieldset-legend,
h4.label {
  font-family: "Archivo", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #1A5B6E;
}

table[id^="field-affinity-group-node-values"] h4 .description {
  font-weight: 100;
  color: black;
  font-size: .75em;
}

#edit-event-registration-0:has(#edit-event-registration-0-registration:checked) > .fieldset-wrapper {
  padding: 1rem;
  background-color: var(--light-teal);
}

.form-item-event-registration-0-capacity label {
  display: block;
}

#edit-event-registration-0 fieldset {
  background-color: var(--light-teal)
}

.form-type-checkbox, .form-type-radio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  label.option {
    margin-left: 0.25rem;
  }
  .description {
    width: 100%;
    margin-left: 0;
  }
}
#edit-registration-reminders-wrapper {
  margin-top: -18px;
  margin-bottom: 36px;
  padding: 0 1rem;
  background-color: rgb(236 249 248);
  .fieldset-legend {
    font-weight: 700;
  }
  .form-item-registration-reminders-0-data-reminder-data-reminder-amount {
    display: inline-block;
    width: 7ch;
  }
  .form-item-registration-reminders-0-data-reminder-data-reminder-units {
    display: inline-block;
  }
  .ck-editor {
    max-width: 65ch;
  }
  #edit-registration-reminders-0-data-reminder-data-message--description {
    display: none;
  }
  #edit-registration-reminders-0-data > .fieldset-wrapper {
    padding-bottom: 30px;
  }
}

html:has(#edit-recur-type-wrapper) {
  th.field-label {
    text-align: left;
  }
  th h4,
  #edit-monthly-recurring-date-0 > legend,
  #edit-weekly-recurring-date-0 > legend {
    font-family: "Archivo", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #1A5B6E;
  }

  label:not(.option) {
    font-weight: 700;
  }

  input[value="X"] {
    padding: .25rem;
  }

  a.tabledrag-handle .handle {
    width: 25px;
    height: 25px;
    margin-top: 0;
  }

  #edit-field-registration-wrapper label {
    display: block;
  }

  #edit-field-contact-0-format,
  #edit-field-location-0-format,
  #edit-custom-date-wrapper .tabledrag-toggle-weight-wrapper,
  #edit-custom-date-wrapper thead,
  #edit-custom-date-wrapper .field-multiple-drag,
  #edit-custom-date-wrapper #edit-custom-date-0-actions-delete,
  #edit-custom-date-wrapper #edit-custom-date--description,
  #edit-custom-date-wrapper #edit-custom-date-add-more,
  .form-item--recur-type:has(#edit-recur-type-daily-recurring-date),
  .form-item--recur-type:has(#edit-recur-type-consecutive-recurring-date),
  .form-item-recur-type:has(#edit-recur-type-daily-recurring-date),
  .form-item-recur-type:has(#edit-recur-type-consecutive-recurring-date),
  .form-type-vertical-tabs,
  #included-dates-add-more-wrapper,
  [data-drupal-selector="tabledrag-toggle-weight"],
  table#custom-date-values tr:not(:first-child) {
    display: none;
  }

  #edit-body-0-format {
    display: flex;
    align-items: center;
  }

  .form-item-body-0-format {
    margin: 0;
  }

  #edit-body-0-format-help {
    order: 2;
    margin-left: 1rem;
  }

  #edit-field-event-type-wrapper .form-radios {
    display: flex;
  }

  .form-type-checkbox,
  .form-type-radio {
    margin-right: 1rem;
  }

  #edit-field-affinity-group-node-wrapper,
  #edit-field-event-type-wrapper {
    border-top: 1px solid #ccc;
  }

  #edit-field-broadcast-affinity-groups-wrapper {
    border-bottom: 1px solid #ccc;
  }
  #edit-weekly-recurring-date-0,
  #edit-monthly-recurring-date-0 {
    h4 {
      margin: 0;
    }
  }
  div[id^="excluded-dates-add-more-wrapper"] {
    h4 {
      font-size: 1rem;
      color: var(--black);
    }
    .fieldset-wrapper {
      display: flex;
      align-items: center;
      h4 {
        margin: 0;
      }
      input {
        margin-left: 0.25rem;
        margin-right: 1rem;
      }
    }
  }
  #custom-date-values .label,
  #edit-weekly-recurring-date-0 .label,
  #edit-excluded-dates-0 .label,
  #edit-monthly-recurring-date-0 .label,
  #edit-monthly-recurring-date-0-day-occurrence--wrapper legend,
  #edit-monthly-recurring-date-0-days--wrapper legend,
  #edit-monthly-recurring-date-0-type--wrapper legend,
  table[id^="field-event-speakers-values"] th .label {
    color: var(--black);
    font-size: 1rem;
    margin: 0;
  }
  #custom-date-values {
    tr {
      border: 0;
      td {
        padding: 0;
        h4:last-of-type {
          margin-top: 1rem;
        }
      }
    }
  }
}
#registrant-default-add-form {
  margin-bottom: 50px;
}
#views-exposed-form-recurring-events-registrations-event-registrant-list {
  input#edit-created-1,
  input#edit-created-2 {
    width: 120px;
  }
  input#edit-uid {
    width: 240px;
  }
}
.view-recurring-events-registrations ul.dropbutton li {
  margin: 0;
  a {
    font-weight: 400;
    text-decoration: none;
  }
}
