{#
/**
 * @file
 * Display Coordinator name as a link to Community Persona page
 */
#}

  <ul class="list-none m-0 p-0">
  {% for item in items %}
    <li class="m-0 mb-1 p-0">
      <a href='/community-persona/{{ item.content['#options']['entity'].uid.value }}'>
        {{item.content['#title']}}
      </a>
    </li>
  {% endfor %}
</ul>
