/* ./src/main.css */

@tailwind base;

/* Put default SCSS here. Don't wrap with @layer base {} here, because some elements may not be in templates alone. */

@tailwind components;

/* Put component SCSS here - again, skip @layer component {}. */

@tailwind utilities;

@layer base {
  :root {
    --dark-teal: #1A5B6E;
    --md-teal: #138597;
    --teal: #48C0B9;
    --light-teal: #ecf9f8;
    --yellow: #ffc42d;
    --orange: #f07537;
    --btn-primary: var(--yellow);
    --btn-secondary: var(--md-teal);
    --black: #232323;
    --gray: #d2d2d2;
    --light-gray: #f2f2f2;
    --light: #ecf9f8;
  }
  html {
    font-family: 'Archivo', system-ui, sans-serif;
  }
}
.container {
  max-width: calc(100% - 60px);
}
@media screen(sm) {
  .container {
    max-width: calc(100% - 60px);
  }
}

@media screen(md) {
  .container {
    max-width: 712px;
  }
}

@media screen(ml) {
  .container {
    max-width: 840px;
  }
}

@media screen(lg) {
  .container {
    max-width: 940px;
  }
}

@media screen(xl) {
  .container {
    max-width: 1180px;
  }
}

img {
  max-width: 100%;
}

.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
}

/* helpers for colored squares before headings */
.colored-square {
  position:relative;
}
h2.colored-square {
  padding-left: 24px;
}
p.colored-square {
 padding-left: 20px;
}
.colored-square::before {
  content: '';
  position: absolute;
  left: 0;
}
h2.colored-square::before {
  height: 16px;
  width: 16px;
  top: calc(50% - 8px);
}
p.colored-square::before {
  height: 12px;
  width: 12px;
  top: calc(50% - 6px);
}
.colored-square-orange::before {
  background: var(--orange);
}
.colored-square-teal::before {
  background: var(--teal);
}
table {
  border-collapse: collapse;
}
table.views-table tr td {
  vertical-align: top;
}
/* responsive tables */
.ci-links .view-content {
  overflow: auto;
  width: max-content;
  min-width: 100%;
  max-width: 100%;
}
.ci-links .view-content table {
  width: 100%;
}
/* override module styles */
.square-tags > div {
  margin-left: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
/* override recurring event styles */
#field-inheritance--wrapper {
  display:none;
}

.font-condensed {
  font-stretch: condensed;
}

.stretched-link::after {
  content: "";
  @apply z-10 absolute inset-0 bg-transparent pointer-events-auto;
}
.layout-content .block-views-exposed-filter-blockcssn-directory-page-1 .form-item-search-api-fulltext,
.region-sidebar-first .form-item-items-per-page {
  @apply hidden;
}

.cssn-photo img {
  height: 100px;
  width: 90px;
  @apply object-cover;
}
