/* ./src/main.css */

@tailwind base;

/* Put default SCSS here. Don't wrap with @layer base {} here, because some elements may not be in templates alone. */

@tailwind components;

/* Put component SCSS here - again, skip @layer component {}. */

@tailwind utilities;

@layer base {
  :root {
    --dark-teal: #1A5B6E;
    --md-teal: #107180;
    --teal: #48C0B9;
    --light-teal: #ecf9f8;
    --yellow: #ffc42d;
    --orange: #f07537;
    --btn-primary: var(--yellow);
    --btn-secondary: var(--md-teal);
    --black: #232323;
    --gray: #d2d2d2;
    --light-gray: #f2f2f2;
    --light: #ecf9f8;
    --selected-tag: var(--dark-teal);
  }
  html {
    font-family: 'Archivo', system-ui, sans-serif;
  }
}
.container {
  max-width: calc(100% - 60px);
}

header .bg-dark-teal .container {
  max-width: 100%;
}

@media screen(sm) {
  header .bg-dark-teal .container,
  .container {
    max-width: calc(100% - 60px);
  }
}

@media screen(md) {
  header .bg-dark-teal .container,
  .container {
    max-width: 712px;
  }
}

@media screen(ml) {
  header .bg-dark-teal .container,
  .container {
    max-width: 840px;
  }
}

@media screen(lg) {
  header .bg-dark-teal .container,
  .container {
    max-width: 940px;
  }
}

@media screen(xl) {
  header .bg-dark-teal .container,
  .container {
    max-width: 1180px;
  }
}

img {
  max-width: 100%;
}

.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
}

/* helpers for colored squares before headings */
.colored-square {
  position:relative;
}
h2.colored-square {
  padding-left: 24px;
}
p.colored-square {
 padding-left: 20px;
}
.colored-square::before {
  content: '';
  position: absolute;
  left: 0;
}
h2.colored-square::before {
  height: 16px;
  width: 16px;
  top: calc(50% - 8px);
}
p.colored-square::before {
  height: 12px;
  width: 12px;
  top: calc(50% - 6px);
}
.colored-square-orange::before {
  background: var(--orange);
}
.colored-square-teal::before {
  background: var(--teal);
}
table {
  border-collapse: collapse;
}
table.views-table tr td {
  vertical-align: top;
}
/* responsive tables */
.ci-links .view-content {
  overflow: auto;
  width: max-content;
  min-width: 100%;
  max-width: 100%;
}
.ci-links .view-content table {
  width: 100%;
}
/* override module styles */
.square-tags > div {
  margin-left: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
/* override recurring event styles */
#field-inheritance--wrapper {
  display:none;
}

.font-condensed {
  font-stretch: condensed;
}

/* prevent long user-entered links from breaking layout for
 * for user-authored areas such as events, event view, news
*/
.node--type-access-news .field--name-body a,
.view-access-news .views-field-body a,
.path-events .field--name-body a,
.path-events .field--name-description a,
.view-recurring-events-event-instances .views-field-body__format a,
.access-break-links a {
  word-break:break-all;
}

.stretched-link::after {
  content: "";
  @apply z-10 absolute inset-0 bg-transparent pointer-events-auto;
}
.layout-content .block-views-exposed-filter-blockcssn-directory-page-1 .form-item-search-api-fulltext,
.region-sidebar-first .form-item-items-per-page,
.layout-sidebar-first .facets-reset .facet-item__count {
  @apply hidden;
}

.cssn-photo {
  width: 180px;
  img {
    height: 100px;
    width: 90px;
    @apply object-cover;
  }
}
.cssn-directory-item .square-tags > div {
  margin: 0;
}

/* Access events page filters */
.page-node-6117 {
  .layout__region--first {
    .block-views-exposed-filter-blockrecurring-events-event-instances-block-1 {
      .form-item-field-affiliation-value,
      .form-item-field-affinity-group-target-id-1,
      .form-item-field-event-type-value,
      .form-item-field-skill-level-value,
      .form-type-select js-form-item-tid form-item-tid,
      .form-item-tid {
        @apply hidden;
      }
    }
  }

  .layout__region--second {
    .block-views-exposed-filter-blockrecurring-events-event-instances-block-1 {
      .form-type-textfield,
      view-display-id-block_1 {
        @apply hidden;
      }
    }
  }

}

body.page-node-6117:not(.user-logged-in) .layout__region--second {
  [data-drupal-selector="views-exposed-form-recurring-events-event-series-block-1"] {
    @apply hidden;
  }
}

/* Announcment side titles */
.page-node-type-access-news .layout__region--second:not(:has(.block-field-blocknodeaccess-newsfield-affiliation)) .page-title:first-child {
  display: none !important;
}

.page-node-type-access-news .layout__region--second:not(:has(.block-field-blocknodeaccess-newsfield-affinity-group-node)) .page-title:not(:first-child) {
  display: none !important;
}

/* Join the CSSN form */
details.webform-submission-information,
nav#webform-submission-navigation-join_the_cssn_network {
  @apply hidden;
}

.bg-md-teal [type="checkbox"]:checked,
.bg-md-teal [type="radio"]:checked {
  @apply bg-dark-teal border-white;
}

.access-qa-bot {
  position: relative;
  z-index: 1000;
}

form[data-drupal-selector="recurring-events-registration-contact-form"] {
  @apply mb-10;
}

form[data-drupal-selector="views-exposed-form-recurring-events-registrations-event-registrant-list"] {
  max-width: 75ch;
  .form-submit {
    @apply mt-10;
  }
}

form[data-drupal-selector="views-exposed-form-recurring-events-registrations-user-event-registrations"] {
  @apply max-w-full items-end;
  > div {
    @apply items-end;
  }
}

.event-series {
  main .field__label {
    @apply mt-6 text-xl font-bold;
  }
}

.page-node-6106 {
  .form-check {
    @apply flex items-center my-6;
  }
}
