{% extends "page.html.twig" %}

{% block content %}
	<main role="main" class="pb-5">
		<a id="main-content" tabindex="-1" class="hidden"></a>

		<div class="layout-content container prose">
			{{ page.content }}
		</div>{# /.layout-content #}

	</main>
{% endblock %}
